
#projectlogo img {
    max-width: 80px !important;
    max-height: 80px !important;
    width: auto !important;
    height: auto !important;
}


.logo img {
    max-width: 80px !important;
    max-height: 80px !important;
}


#titlearea {
    padding: 10px;
}


#projectname {
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0;
}


#projectbrief {
    font-size: 1.1em;
    color: #666;
    margin: 5px 0;
}

.fragment {
    border-left: 3px solid #4CAF50;
    padding-left: 10px;
}

.contents h1 {
    color: #2e7d32;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 5px;
}

.center {
    text-align: center;
    margin: 20px 0;
}

table.doxtable {
    border: 1px solid #4CAF50;
}

table.doxtable th {
    background-color: #4CAF50;
    color: white;
}

/* Center images processed from Markdown files */
.contents .image {
    text-align: center;
}
.contents .image img {
    display: inline-block;
}
